<h1 id="result-title">{{title}}</h1>
{{#if job}}
	<a id="view-result-in-api" href="/api/result/{{jobId}}" target="_blank">
		View Result In API Route
	</a>
	<div id="job-status">{{job.status}}</div>
	{{#if job.result.thumbnail}}
	<img id="result-thumbnail" src="../{{job.result.thumbnail}}" alt="Thumbnail" /></li>
	<div class="detail-wrapper">
		<h3>Thumbnail Path:</h3>
		<code id="result-thumbnail-path">
			{{job.result.thumbnail}}
		</code>
	</div>
	{{else}}
		<p>No thumbnail available.</p>
	{{/if}}

	{{#if job.result.transcription}}
		<div class="detail-wrapper">
			<h3>
				Transcription:
			</h3>
			<pre id="result-transcription">{{json job.result.transcription}}</pre>
		</div>
	{{else}}
		<p>No analysis result available.</p>
	{{/if}}


	{{#if job.error}}
		<h3>Error Details:</h3>
		<pre id="job-error">{{job.error}}</pre>
	{{/if}}
{{else}}
	<p>No job found.</p>
{{/if}}